# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Unit tests / coverage
.coverage
.coverage.*
.pytest_cache/
htmlcov/
coverage.xml

# Environments
.env
.venv/
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.txt

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.json
*.pkl
*.h5

# Logs
*.log